:root{
	--column: 3;
	--row: 4;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	margin:1rem;
	padding:0.5rem;
}
.homepage{
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	width: 100vw;
	height: 100vh;
	padding: 2rem;
	text-align: center;
}
.homepage .title{
	margin-bottom: 5rem;
}
.homepage .win{
	display: none;
}
.homepage .lose{
	display: none;
}
.homepage .level{
	display: flex;
	flex-direction: row;
}
.homepage .level .easy{

}
.selected{
	border: 2px solid blue;
	border-radius: 4px;
}
.homepage .level a{
	margin: 0.5rem;
	text-decoration: none;
	padding: 0.5rem;
}
.homepage .level a:hover{
	border: 2px solid blue;
	border-radius: 4px;
}
.homepage .play{

}
.homepage .play button{
	background-color: white;
	padding: 0.5rem;
	font-size: 2rem;
}
.homepage .play button:hover{
	background-color: blueviolet;
}
/* .newGame{
	width: 100%;
	height: 100%;
	background-color: lightsalmon;
} */
.container{
	display: grid;
	display: none;
	grid-gap: 1rem;
	grid-template-areas:
	'  headerContainer headerContainer'
	'  boardContainer nav'
	'  footer footer';
}

.headerContainer{
	display: flex;
	display: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: centers;
	grid-area: headerContainers;
	min-height: 5rem;
	border-radius: 7px;
	margin: 2px;
	padding: 5px;
	background-color: whitesmoke;

}
nav{
	/* background-color:green; */
	height: 100%;
	margin: 0.5rem;
	padding: 1rem;
	grid-area: nav;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;

}
.clock{
	/* background-color: red; */
}

.boardContainer{
	display: flex;
	flex-wrap: wrap;
	background-color:whitesmoke;
	width: 60vw;
	height: 70vh;
	padding: 1rem;
	grid-area: boardContainer;
}
.card {
	width: calc(100% /var(--column));
	height: calc(100% /var(--row));
	transition: transform 1s;
  transform-style: preserve-3d;
	cursor: pointer;
	border: 1px solid black;
}

.card-inner {
	position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}


.front, .back {
  width: 100%;
  height: 100%;
	position: absolute;
  backface-visibility: hidden;
}
.back {
	transform: rotateY(180deg);
	/* cursor:none; */

}
.front {
}
.front:hover {
  box-shadow: 0px 0px 20px 0.5px grey;
}
.back-img{
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.done{
	/* background: black; */
}
footer{
	margin-bottom: 0;
	min-height: 5rem;
	background-color: whitesmoke;
	border-radius: 7px;
	padding: 0.5rem;
	/* background-color: yellowgreen; */
	grid-area: footer;
}


	
